<div class="container-body">
  <div class="row">
      <h1 class="title">About the Cayde-6 Sect Project</h1>
      <p>The Cayde-6 Sect is a Looking For Group application reserved for players in Destiny, Bungie's flagship video game.</p>
        <h2>How does it work?</h2>
        <p>Go to “New LFG Post” fill out your Console, Gamertag and other info to further your search for likeminded players in the same activity.
        This app is currently in beta for a closed-group of individuals so please request a invite code to checkout the current version <a href="http:/rsvision.com">@RSVision.com</a>!</p>
  </div>
</div>
