<div class="container-body">
  <div class="row">
      <h1 class="title">About the Cayde-6 Sect Project</h1>
      <p>The Cayde-6 Project is a LFG Community of verified players in Bungie's flagship game Destiny.  This project was developed for the purpose of helping specific groups of Destiny's Playerbase find eachother on a platform full of hundreds of thousands of players.</p>
      <p></p>
  </div>
</div>
