<div class="container-body">
  <div class="row">
      <h1 class="title">About the Cayde-6 Sect Project</h1>
      <p>The Cayde-6 Sect is a Looking For Group application reserved for the group The Technodrome in Bungie’s flagship game Destiny.
        With hundreds of thousands of video game players in Destiny, it can get a bit crowded and in need of a filter to find players
        looking for the same activity and team-coordination. </p>
        <h2>Why is it invite only? </h2>
        <p>It’s primarily built for a group The Technodrome, consisting of nearly 500+ other players looking to connect to each other in a efficient way. </p>
        <%= image_tag "image1.PNG", class: "techn-Logo" %>
        <h2>How do I join?</h2>
        <p>Get in contact with The Technodrome on Bungie’s groups!  Soon we will have a contact/apply form to get a invite code.
          (Contact admins directly if necessary)</p>
          <h2>How does it work?</h2>
          <p>Go to “New LFG Post” fill out your Console, Gamertag and other info to list yourself under the activity you’d like to find a group for.
            Posts last on average 30-40 minutes to keep things fresh and 0 clutter. </p>
            <h2>Why donate?</h2>
            <p>To keep the server running smoothly with tolerable speeds.  This is on a budget so if you enjoy using it feel free to help out in dedicated server funds!</p>
  </div>
</div>
