<div class="container-body">
    <h1>Edit your LFG post:</h1>
    <%= link_to "Delete Post", post_path(@post), method: :delete, class: 'btn btn-danger' %>
    <br />
        <%= render "form" %>
</div>
