<div class="post-wrap">
    <h1><i class="icon ion-ios-game-controller-b"></i> Edit your LFG post:</h1>
    <%= link_to "Delete Post", post_path(@post), method: :delete, class: 'btn btn-danger' %>
    <br />
        <%= render "form" %>
</div>
