<div class=container-body>
  <%= render "form" %>
    <h2>Filter your LFG search</h2>
    <br />
    <h2>All Posts</h2>
      <div class="posts-wrap">
      <% @posts.each do |post| %>
        <p><%= link_to post.name, post %></p>
      <% end %>
      </div>

</div>
