<div class="container-body">
  <div class="row">
    <br>
    <div class="col-md-8">
      <%= (@post) %>

    <div class="col-md-4">
      <%= link_to "Delete Post", @post, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this application? This cannot be undone.' } %>
    </div>
    <br>
    </div>
  </div>
</div>
