/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
  html, body {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: .17rem;
    background-color: rgb(40, 40, 40);
  }

  .container > .logo {
    margin: 1.5rem;
  }

  div.pull-right.user-info {
    color: rgb(255, 255, 255);
  }

  .container-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgb(250,250,250);
    padding: 3.5rem;
    border-radius: 2px;
    max-width: 850px;
    border: 1px solid rgba(87, 120, 219, .3);
  }

  .col-md-6 {
    display: block;
  }

  .posts-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color: rgb(250,250,250);
    padding: 3.5rem;
    border-radius: 2px;
    max-width: 850px;
    border: 1px solid rgba(87, 120, 219, .3);
  }

  .row {
    padding: 2rem;
  }

  @media(max-width: 800px) {
    .container-body {
      width: 98%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  a {
    color: rgb(87, 120, 219);
  }

  a:hover {
    color: rgb(87, 120, 219);
  }

  .nav-tabs {
    background-color: transparent;
  }

  p.body {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  label {
    font-size: 2rem;
  }

  @media(max-width: 992px) {
    .col-marg-fix {
      margin-top: 3.5rem;
    }
  }

  input#post_name,
  input#post_light_lvl,
  textarea#post_notes.form-control {
    border: 1px solid rgba(87, 120, 219, .7);
    border-radius: 4px;
    font-size: 1.8rem;
    padding: .5rem;
    width: 100%;
  }

  textarea {
   resize: none;
  }

  .login-field {
    width: 65%;
  }

  @media(max-width: 800px) {
    .login-field {
      width: 95%;
    }
  }

  input.btn.btn-success,
  .login-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(87, 120, 219);
    font-size: 1.9rem;
    margin: 1rem;
    border: 1px solid rgb(87, 120, 219);
    border-radius: 4px;
    padding: .5rem;
  }

  footer {
    width: 100%;
    bottom: 0;
    padding: 4rem;
    margin-top: 40%;
    text-align: center;
    background-color: rgba(237,237,237, .4);
  }
