/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";

  html, body {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: .17rem;
    background-color: rgb(41, 55, 76);
  }

  .container > .logo {
    margin: 1.5rem;
  }

  div.pull-right.user-info {
    color: rgb(255, 255, 255);
  }

  .margin-wrapper {
    margin-left: 2rem;
  }

  .container-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    background-color: rgb(250,250,250);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 2px;
    border: 4px solid rgba(97, 135, 229, .3);
  }

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-6 {
    display: block;
    max-width: 300px;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .table {
    overflow: scroll;
  }

  .posts-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(250,250,250);
    padding: .2rem;
    border-radius: 2px;
    border: 1px solid rgba(87, 120, 219, .3);
  }

  .form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border: 1px solid rgba(87, 120, 219, .3);
    padding: 1rem;
    border-radius: 2px;
  }

  .notes-wrap {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

  }

  .row {
    padding: 2rem;
  }

  @media(max-width: 800px) {
    .container-body {
      width: 100%;
    }

    .container {
      width: 100%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  a {
    color: rgb(87, 120, 219);
  }

  a:hover {
    color: rgb(87, 120, 219);
  }

  p.body {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  h2 {
    text-align: center;
  }

  label {
    font-size: 2rem;
  }

  @media(max-width: 992px) {
    .col-marg-fix {
      margin-top: 2rem;
    }
  }

  input#post_name,
  input#post_light_lvl,
  textarea#post_notes.form-control {
    border: 1px solid rgba(87, 120, 219, .7);
    border-radius: 4px;
    font-size: 1.8rem;
    padding: .5rem;
    width: 100%;
  }

  textarea {
   resize: none;
  }

  .login-field {
    width: 65%;
  }

  @media(max-width: 800px) {
    .login-field {
      width: 95%;
    }
  }

  input.btn.btn-success,
  .login-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(87, 120, 219);
    font-size: 1.9rem;
    margin: 1rem;
    border: 1px solid rgb(87, 120, 219);
    border-radius: 4px;
    padding: .5rem;
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    color: rgb(255, 255, 255);
    background-color: rgb(87, 120, 219);
    font-size: 1.9rem;
    margin: 1rem;
    border: 1px solid rgb(87, 120, 219);
    border-radius: 4px;
    padding: .5rem;
  }

  footer {
    width: 100%;
    bottom: 0;
    padding: 4rem;
    margin-top: 40%;
    text-align: center;
    background-color: rgba(237,237,237, .4);
  }

  .nav-container {
    background-color: rgb(230,230,230);
  }

  .logo-img {
    position: relative;
    float: left;
    margin-right: 3rem;
    margin-left: 2rem;
    width: 350px;
  }

  @media(max-width: 800px) {
    .logo-img {
      margin-left: .5rem;
      margin-right: 1rem;
      width: 200px;
    }
  }

  @media(max-width: 500px) {
    .logo-img {
      width: 180px;
    }
  }

  .nav-tabs {
    border-bottom: 2px solid rgb(87, 120, 219);
    text-align: center;
    position: relative;
    padding: .2rem;
  }

  .nav-tab-marg {
    padding-top: 2.5rem;
  }

  @media(min-width: 800px) {
    .nav-tab-marg {
      padding-top: 4.5rem;
    }
  }

  .nav-tabs >
  li.active >
  a, .nav-tabs >
  li.active >
  a:focus, .nav-tabs >
  li.active >
  a:hover {
    border-width: 0;
  }

  .nav-tabs >
  li > a {
    border: none;
    color: #666;
  }

  .nav-tabs >
  li.active >
  a, .nav-tabs >
  li > a:hover {
    border: none;
    color: rgb(87, 120, 219) !important;
    background: transparent;
  }

  .nav-tabs >
  li > a::after {
    content: "";
    background: rgb(87, 120, 219);
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
  }

  .nav-tabs >
  li.active >
  a::after, .nav-tabs >
  li:hover > a::after {
    transform: scale(1);
  }

  .user-info {
    margin-right: 3rem;
  }
