/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */
 @import "bootstrap";
 @import "bootstrap-sprockets";

 /* Main content application.html.erb */

  html, body {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: .17rem;
    background-color: rgb(41, 55, 76);
    background-image: url(../images/felwinterspeak.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  .ion-ios-game-controller-b-outline{
    font-size: 2rem;
  }

  div.pull-right.user-info {
    color: rgb(255, 255, 255);
  }

  .devise-container {
    background-color: rgb(250,250,250);
    border: 7px solid rgba(97, 135, 229, .3);
    border-radius: 2px;
    width: 80%;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .post-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    background-color: rgb(250,250,250);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 2px;
    border: 4px solid rgba(97, 135, 229, .3);
  }

  @media(max-width: 800px) {
    .post-wrap {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media(max-width: 600px) {
    .post-wrap {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  /* Main content application.html.erb end */

  /* Table */

  .table {
    overflow: scroll;
  }

  /* Table end */

  p.alert,
  p.notice {
    color: rgb(255, 255, 255);
  }

  a.btn.btn-lfg,
  a.btn.btn-success,
  a.btn.btn-danger {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  a.btn.btn-lfg {
    padding: .7rem;
    background-color: rgb(87, 120, 219);
    color: rgb(255, 255, 255);
  }

  /* Posts wraps etc */

  .posts-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(250,250,250);
    padding: .2rem;
    border-radius: 2px;
    border: 1px solid rgba(87, 120, 219, .3);
  }

  .form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(87, 120, 219, .3);
    padding: 1rem;
    border-radius: 2px;
  }

  .notes-wrap {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .margin-wrapper {
    margin-left: 2rem;
  }

  /* Posts wraps etc end */

  /* Headings text and links */

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  h4 {
    text-align: center;
    font-size: 2.7rem;
  }

  h5 {
    text-align: center;
    font-size: 2.5rem;
  }

  h6 {
    text-align: center;
    font-size: 2rem;
  }

  a {
    color: rgb(97, 135, 229);
  }

  a:hover {
    color: rgb(87, 120, 219);
  }

  p.body {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  h2 {
    text-align: center;
  }

  label {
    font-size: 2rem;
  }

  /* Headings text and links end */


  @media(max-width: 992px) {
    .col-marg-fix {
      margin-top: 2rem;
    }
  }

  input#post_name,
  input#post_light_lvl,
  textarea#post_notes.form-control {
    border: 1px solid rgba(87, 120, 219, .7);
    border-radius: 4px;
    font-size: 1.8rem;
    padding: .5rem;
    width: 100%;
  }

  textarea {
   resize: none;
  }

  .login-field {
    width: 65%;
  }

  @media(max-width: 800px) {
    .login-field {
      width: 95%;
    }
  }

  input.btn.btn-success,
  .login-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(87, 120, 219);
    font-size: 1.9rem;
    margin: 1rem;
    border: 1px solid rgb(87, 120, 219);
    border-radius: 4px;
    padding: .5rem;
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    color: rgb(255, 255, 255);
    background-color: rgb(87, 120, 219);
    font-size: 1.9rem;
    margin: 1rem;
    border: 1px solid rgb(87, 120, 219);
    border-radius: 4px;
    padding: .5rem;
  }

  /* Logo */

  .logo-img {
    position: relative;
    float: left;
    margin-right: 3rem;
    margin-left: 2rem;
    width: 275px;
  }

  @media(max-width: 800px) {
    .logo-img {
      margin-left: .5rem;
      margin-right: 1rem;
      width: 200px;
    }
  }

  @media(max-width: 500px) {
    .logo-img {
      width: 180px;
    }
  }

  /* Logo end */

  /* Navigation */
  .navbar-default {
    border: none;
    border-radius: 0px;
    padding: .05rem;
  }

  .nav-container {
    background-color: rgb(230,230,230);
  }

  .navbar-default .navbar-nav > li > a {
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: rgb(125, 125, 125);
    background-color: transparent;
  }

  /* Navigation end */

  /* Admin info */

  .user-info {
    margin-right: 3rem;
  }

  /* Admin info end */

  /* Footer */

  footer {
    width: 100%;
    bottom: 0;
    padding: 4rem;
    margin-top: 50%;
    text-align: center;
    background-color: rgba(237,237,237, .4);
  }

  footer a {
    color: rgb(0, 0, 0);
  }

  footer a:hover {
    color: rgb(155, 155, 155);
    text-decoration: none;
  }
