/* Main content application.html.erb end */

/* Table */

.table {
  overflow: scroll;
}

/* Table end */

p.alert,
p.notice {
  color: rgb(255, 255, 255);
}

a.btn.btn-lfg,
a.btn.btn-success,
a.btn.btn-danger {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

a.btn.btn-lfg {
  padding: .7rem;
  background-color: rgb(87, 120, 219);
  color: rgb(255, 255, 255);
}

/* Posts wraps etc */

.posts-wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgb(250,250,250);
  padding: .2rem;
  border-radius: 2px;
  border: 1px solid rgba(87, 120, 219, .3);
}

.notes-wrap {
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


.margin-wrapper {
  margin-left: 2rem;
}

/* Posts wraps etc end */
